@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/avenir-black.woff2') format('woff2'),
       url('../fonts/avenir-black.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/proximanova-black.woff2') format('woff2'),
       url('../fonts/proximanova-black.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/proximanova-bold.woff2') format('woff2'),
       url('../fonts/proximanova-bold.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/proximanova-regular.woff2') format('woff2'),
       url('../fonts/proximanova-regular.woff') format('woff');
}

@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/proximanova-light.woff2') format('woff2'),
       url('../fonts/proximanova-light.woff') format('woff');
}
