// colors

$white: #fff;
$black: #000;

$bg-black: #0b0b0c;
$button-blue: #0f33ff;

$global-transition: all 200ms ease-out;

// fonts
$avenir: 'Avenir', Arial, sans-serif;
$proxima: 'Proxima Nova', Arial, sans-serif;
// media

$tablet-width: 768px;
$desktop-width: 1280px;
