<header class="header">
  <div class="header__column header__column_first">
    <a class="header__logo" href="#">
      <img class="header__logo-picture" src="assets/img/logo-global.svg" width="30" height="28" alt="Global logo">
      <span class="header__logo-text">Global</span>
    </a>
  </div>
  <div class="header__column">
    <button class="header__button">hire us</button>
  </div>
  <div class="header__column header__column_last">
    <button class="header__nav-button"></button>
  </div>
</header>
