<section class="home">
  <div class="home__wrapper">
    <div class="home__top-bar">
      <h2 class="home__title">Your next interactive experience</h2>
      <button class="home__button">
        <span class="home__button-wrapper">
          <span class="home__button-text">hire us</span>
        </span>
      </button>
    </div>
    <ul class="home__list">
      <li class="home__item">
        <b class="home__caption">Metiew & Smith</b>
        <p class="home__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
      </li>
      <li class="home__item">
        <b class="home__caption">Fantasy interactive</b>
        <p class="home__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
      </li>
      <li class="home__item">
        <b class="home__caption">Paul & shark</b>
        <p class="home__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do</p>
      </li>
    </ul>
  </div>
</section>
