<aside class="sidebar">
  <nav class="sidebar__nav">
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">Home</a>
      </li>
      {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">Works</a>
      </li>
      {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">About</a>
      </li>
      {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">Contact</a>
      </li>
      {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">Hire us</a>
      </li>
    </ul>
  </nav>
</aside>
