<aside class="sidebar">
  <nav class="sidebar__nav">
    <ul class="sidebar__list">
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link sidebar__link_active">
          <span class="sidebar__num">01</span>
          Home
        </a>
      </li>
      {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">
          <span class="sidebar__num">02</span>
          Works
        </a>
      </li>
      {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">
          <span class="sidebar__num">03</span>
          About
        </a>
      </li>
      {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">
          <span class="sidebar__num">04</span>
          Contact
        </a>
      </li>
      {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
      <li class="sidebar__item">
        <a href="#home" class="sidebar__link">
          <span class="sidebar__num">05</span>
          Hire us
        </a>
      </li>
    </ul>
  </nav>
</aside>
