<aside class="sidebar">
  <nav class="sidebar__nav">
    <ul class="sidebar__list">
      {{# each nav}}
        <li class="sidebar__item">
          <a
            href="{{link}}"
            class="sidebar__link{{# if active}} sidebar__link_active{{/if}}"
            data-key="{{key}}"
          >
              <span class="sidebar__num">{{num}}</span>
              {{title}}
          </a>
        </li>

        {{# if markers}}
          {{# repeat 3}}<li class="sidebar__marker"></li>{{/repeat}}
        {{/if}}

      {{/each}}
    </ul>
  </nav>
</aside>
