<section class="works page__screen" id="works">
  <div class="works__wrapper">
    <h2 class="works__title">Selected work</h2>
    <div class="works__list-wrapper swiper-container" id="works-slider">
      <ul class="works__list swiper-wrapper">
        {{# each works}}
          <li class="works__item swiper-slide">
            <a href="{{link}}" class="works__link">
              <figure class="works__card">
                <img class="works__picture" src="assets/img/{{img}}" alt="{{title}}">
                <figcaption class="works__caption">
                  <b class="works__caption-title">{{title}}</b>
                  <p class="works__description">{{text}}</p>
                </figcaption>
              </figure>
            </a>
          </li>
        {{/each}}
      </ul>
      <button class="works__button works__button_prev"></button>
      <button class="works__button works__button_next"></button>
    </div>
  </div>
</section>
